dist
.mta
*.mtar
npm-debug.log
node_modules
test/package
.idea/
client/C/
client/coverage/
client/dev/
client/karma_html/
client/TESTS-*.xml
client/package-lock.json
client/target
client/test-results.xml
public/C/
public/node_modules
public/package-lock.json
